.project
.settings
build/classes
root/META-INF
*.class
build/*.jsp
build/WEB-INF/classes/com
build/WEB-INF/classes/lib
build/WEB-INF/lib
build/WEB-INF/classes/web.xml
build/WEB-INF/web.xml
build/bodgeit.war
build/js
build/style.css
build/images
build/dbconnection.jspf
build/css
build/META-INF
